/* Body */
.product__body {
	padding-top: 64px;
}

/* Heading */
.product-heading {
	margin-bottom: 32px;
}

/* Row */
.product__row {
	display: inline-grid;
	grid-auto-flow: column;
	column-gap: 16px;
	align-items: start;
}

/* Offer */
.product__offer {
	width: 368px;
}

/* Rhs */
.product__rhs {
	display: inline-grid;
	row-gap: 16px;
}
