.input {
	position: relative;
	color: var(--color-primary);
}

/* Input */
.input__input {
	border: #fff 2px solid;
	border-radius: 50px;
	background-color: transparent;
	font-family: var(--font-family-primary);
	font-size: 16px;
	line-height: 24px;
	padding: 8px 16px;
	font-weight: 700;
	width: 368px;
	color: #fff;
	box-sizing: border-box;
}

.input--dark > .input__input {
	border: var(--color-primary) 2px solid;
	color: var(--color-primary);
}

.input__input::placeholder {
	color: #808080;
}

.input__input::-webkit-search-cancel-button {
	display: none;
}

/* Icon */
.input__icon {
	--height: 24px;

	pointer-events: none;
	position: absolute;
	top: calc(50% - 24px / 2);
	right: 16px;
	width: 24px;
	height: var(--height);
}
