/* Body */
.page__body {
	margin: 0;
	background-image: linear-gradient(360deg, #0E0E0E 54.08%, #2E1F2B 78.47%);;
	min-height: 100vh;
}

/* Header */
.page__header {
	position: fixed;
	width: 100%;
	z-index: 10;
}

/* Welcome */
.page__welcome {
	padding-top: var(--header-height);
	box-sizing: border-box;
}

/* Distributors */
.page__distributors {
	margin-bottom: 32px;
}

/* Product */
.page__product {
	padding-top: var(--header-height);
}
