.welcome {
	min-height: 100vh;
	overflow: hidden;
}

.welcome--bg-decor {
	position: relative;
}

.welcome--bg-decor:after {
	--padding-top: 64px;

	position: absolute;
	content: '';
	width: 846px;
	height: 526px;
	top: calc(var(--padding-top) + var(--header-height));
	right: 64px;
	background-image: url("../img/computer.png");
	background-size: cover;
	z-index: -10;
}

@media (max-width: 320px) {
	.welcome--bg-decor:after {
		--padding-top: 32px;

		width: 256px;
		height: 192px;
		right: -32px;
	}
}

.welcome:before {
	--width: 560px;

	content: "";
	position: absolute;
	width: var(--width);
	height: 5px;
	border-radius: 5px;
	background-color: #fff;
	bottom: 16px;
	left: calc(50% - var(--width) / 2);
}

@media (max-width: 320px) {
	.welcome:before {
		bottom: calc(var(--bottom-nav-height) + 16px);
		--width: 144px;
	}
}

/* Body */
.welcome__body {
	padding-top: 64px;
	display: grid;
	grid-auto-flow: column;
	column-gap: 16px;
}

@media (max-width: 320px) {
	.welcome__body {
		padding-top: 16px;
	}
}

/* Article */
.welcome__article {
	display: grid;
	max-width: 560px;
	row-gap: 16px;
	grid-template-rows: min-content;
}
