.welcome {
	min-height: 100vh;
	overflow: hidden;
}

.welcome--bg-decor {
	position: relative;
}

.welcome--bg-decor:after {
	position: absolute;
	content: url("../img/computer.png");
	top: calc(64px + var(--header-height));
	right: 64px;
	z-index: -10;
}

.welcome:before {
	--width: 560px;

	content: "";
	position: absolute;
	width: 560px;
	height: 5px;
	border-radius: 5px;
	background-color: #fff;
	bottom: 16px;
	left: calc(50% - var(--width) / 2);
}

/* Body */
.welcome__body {
	padding-top: 128px;
	display: grid;
	grid-auto-flow: column;
	column-gap: 16px;
}

/* Article */
.welcome__article {
	display: grid;
	max-width: 560px;
	row-gap: 16px;
}
