:root {
	--font-family-default: sans-serif;
	--font-family-primary: 'Roboto', var(--font-family-default);
	--color-primary: #262626;
	--color-secondary: #181818;
	--color-tertiary: #872371;
}

:root {
	--header-height: 64px;
	--bottom-nav-height: 48px;
}
